{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div class="page-wrapper">
	<!-- Preloader -->
	<!-- <div class="preloader"></div> -->

	<!-- Header Span -->
	<span class="header-span"></span>
	<!-- Banner Section-->
	<section class="banner-section-seven">
	  <div class="image-outer">
	    <figure class="image"><img src="images/resource/banner-img-8.png" alt=""></figure>
	  </div>
	  <div class="auto-container">
	    <div class="row">
	      <div class="content-column col-lg-7 col-md-12 col-sm-12">
	        <div class="inner-column">
	          <div class="title-box wow fadeInUp" data-wow-delay="500ms">
	            <h3>There Are <span class="colored">93,178</span> <br>Postings Here For you!</h3>
	            <div class="text">Find Jobs, Employment & Career Opportunities</div>
	          </div>

	          <!-- Job Search Form -->
	          <div class="job-search-form wow fadeInUp" data-wow-delay="1000ms">
	            <form method="post" action="job-list-v10.html">
	              <div class="row">
	                <div class="form-group col-lg-5 col-md-12 col-sm-12">
	                  <span class="icon flaticon-search-1"></span>
	                  <input type="text" name="field_name" placeholder="Job title, keywords, or company">
	                </div>
	                <!-- Form Group -->
	                <div class="form-group col-lg-4 col-md-12 col-sm-12 location">
	                  <span class="icon flaticon-map-locator"></span>
	                  <input type="text" name="field_name" placeholder="City or postcode">
	                </div>
	                <!-- Form Group -->
	                <div class="form-group col-lg-3 col-md-12 col-sm-12 btn-box">
	                  <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">Find Jobs</span></button>
	                </div>
	              </div>
	            </form>
	          </div>
	          <!-- Job Search Form -->

	          <!-- Popular Search -->
	          <div class="popular-searches wow fadeInUp" data-wow-delay="1500ms">
	            <span class="title">Popular Searches : </span>
	            <a href="#">Designer</a>,
	            <a href="#">Developer</a>,
	            <a href="#">Web</a>,
	            <a href="#">IOS</a>,
	            <a href="#">PHP</a>,
	            <a href="#">Senior</a>,
	            <a href="#">Engineer</a>,
	          </div>
	          <!-- End Popular Search -->

	          <!--Clients Section-->
	          <section class="clients-section-two wow fadeInUp" data-wow-delay="2000ms">
	            <!--Sponsors Carousel-->
	            <ul class="sponsors-carousel-two owl-carousel owl-theme">
	              <li class="slide-item">
	                <figure class="image-box"><a href="#"><img src="images/clients/1-1.png" alt=""></a></figure>
	              </li>
	              <li class="slide-item">
	                <figure class="image-box"><a href="#"><img src="images/clients/1-2.png" alt=""></a></figure>
	              </li>
	              <li class="slide-item">
	                <figure class="image-box"><a href="#"><img src="images/clients/1-3.png" alt=""></a></figure>
	              </li>
	              <li class="slide-item">
	                <figure class="image-box"><a href="#"><img src="images/clients/1-4.png" alt=""></a></figure>
	              </li>
	              <li class="slide-item">
	                <figure class="image-box"><a href="#"><img src="images/clients/1-5.png" alt=""></a></figure>
	              </li>
	              <li class="slide-item">
	                <figure class="image-box"><a href="#"><img src="images/clients/1-6.png" alt=""></a></figure>
	              </li>
	              <li class="slide-item">
	                <figure class="image-box"><a href="#"><img src="images/clients/1-7.png" alt=""></a></figure>
	              </li>
	            </ul>
	          </section>
	          <!-- End Clients Section-->
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
	<!-- End Banner Section-->

</div>
{% endblock %}
